<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Lib Inputs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body id = "spaceBod">
    <div class="jumbotron" id="spaceTron">
      <h1>Fill in the blanks of your Custom lib!</h1>
    </div>

      <form action= "/madlibone" method="post"> 
      <label for="name">a Name</label>
      <input id="name" name="name" type="text">
      <label for="sillyword">a Silly Word</label>
      <input id="sillyword" name="sillyword" type="text">
      <label for="number">a Number</label>
      <input id="number" name="number" type="text">
      <label for="adjectiveOne">an Adjective</label>
      <input id="adjectiveOne" name = "adjectiveOne" type="text">
      <label for="adjectiveTwo">an Adjective</label>
      <input id="adjectiveTwo" name = "adjectiveTwo" type="text">
      <label for="adjectiveThree">an Adjective</label>
      <input id="adjectiveThree" name = "adjectiveThree" type="text">
      <label for="adjectiveFour">an Adjective</label>
      <input id="adjectiveFour" name="adjectiveFour" type="text">
      <label for="adjectiveFive">an Adjective</label>
      <input id="adjectiveFive" name="adjectiveFive" type="text">
      <label for="noun">a Noun</label>
      <input id="noun" name="noun" type="text">
      <label for="verb">a Verb</label>
      <input id="verb" name="verb" type="text">
      <label for="relative">a Relative</label>
      <input id="relative" name="relative" type="text">
      <button type="submit">Mad Lib Me!</button>
    </form>
  </body>
</html>